html
    head
        script(src="../bower_components/pathjs/path.js")
        script(src="../bower_components/sizzle/test/jquery.js")
        script(src="script.js")

        block head
    body
        include menu
        .container
            block content